html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    /*background-color: rgb(48, 48, 48);*/
    overflow: auto !important;
    background-color: rgb(236, 234, 234);
}

.main-div {
    overflow: auto;
}

div.manager-avatar {
    height: 50px;
    margin: 10px 10px;
}

div.row-full {
    margin-top: 1%;
    margin-bottom: 1%;
    clear: both;
    display: flex;
}

div.oneThird{
    width: 31.3%;
    margin: 0 1%;
    display: inline-block;
}

div.half{
    width: 48%;
    margin: 0 1%;
    display: inline-block;
}

div.avatarTitle{
    color: #a2a1a1;
    top: -35px;
    position: relative;
    left: 60px;
}

div.boxedNine{
    width: 96%;
    margin: 0 auto 1% auto;
}
div.loading > img{
    margin: 0 auto;
    display: block;
    width: 60px;
}